:root {
  --white: #ffffff;

  --gray01: #e3e3e3;
  --gray02: #aaaaaa;
  --gray03: #f6f6f6;
  --gray04: #999999;
  --gray05: #dddddd;
  --gray06: #f7f7f7;
  --gray07: #f8f8f8;
  --gray08: #c9c9c9;
  --gray09: #f8f8ff;

  --black01: #000000;
  --black02: #333333;
  --black03: #3b3735;
  --black04: #666666;

  --primary: #3366ff;

  --blue01: #edf2fe;

  --size18: 1.125rem;
  --size20: 1.25rem;
  --size22: 1.375rem;
  --size24: 1.5rem;
  --size28: 1.75rem;
  --size32: 2rem;
}
.content {
  width: 100%;
  position: relative;
  padding-top: 64px;
}
.wrap {
  width: 100%;
  position: relative;
}
.inner {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: auto;
  height: auto;
  margin-top: 0;
}
.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: none;
}
.check-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray04);
  cursor: pointer;
}
.check-wrap input {
  display: none;
}
.check-wrap svg {
  width: 24px;
}
.check-wrap input:checked + svg path {
  fill: var(--primary);
}
.overflow-hidden {
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  body,
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .content {
    padding-top: 50px;
  }
  .inner {
    width: calc(100% - 32px);
  }
}
@media screen and (max-width: 600px) {
  .check-wrap svg {
    width: 18px;
  }
}
