/*pc-head*/
.pc-head {
  width: 100%;
  height: 64px;
  background: var(--white);
  border-bottom: 1px solid var(--gray01);
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
}
.pc-head .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pc-head .left-area {
  display: flex;
  align-items: center;
  gap: 60px;
}
.pc-head .logo {
  width: 64px;
}
.pc-head .menu-depth1 {
  display: flex;
  gap: 32px;
}
.pc-head .menu-depth1 > li > a {
  font-size: var(--size22);
  color: var(--black02);
  font-weight: 500;
  transition: all 0.4s;
}
.pc-head .menu-depth1 > li > a:hover {
  color: var(--primary);
}
.pc-head .login-btn {
  display: flex;
  gap: 14px;
}
.pc-head .login-btn > li > a {
  width: 85px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  box-sizing: border-box;
  border: 1px solid var(--gray01);
  background: var(--white);
  color: var(--black02);
}
.pc-head .login-btn > li.bg-blue > a {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}
.pc-head .login-after {
  display: none;
}
/*footer*/
footer {
  border-top: 1px solid var(--gray05);
  padding: 26px 0 100px;
}
footer .footer-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
footer .footer-menu > li {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--black02);
}
footer .footer-menu > li::after {
  content: "";
  width: 1px;
  height: 14px;
  background: var(--black02);
  display: block;
}
footer .footer-menu > li:last-child::after {
  display: none;
}
footer .footer-info {
  display: flex;
  gap: 24px;
}
footer .footer-info .logo {
  width: 180px;
}
footer .footer-info .info-list {
  width: calc(100% - 204px);
  display: flex;
  gap: 50px;
}
footer .footer-info .info-list .info-tit {
  font-size: var(--size18);
  font-weight: 500;
}
footer .footer-info .info-list .info-txt1 {
  line-height: 1.5;
  color: var(--black02);
  margin: 10px 0;
}
footer .footer-info .info-list .info-txt1 span {
  color: var(--primary);
}
footer .footer-info .info-list .info-txt2 {
  color: var(--gray02);
  line-height: 1.5;
}
.pc-head .mob-btn {
  display: none;
}
.mob-menu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .pc-head {
    height: 50px;
  }
  .pc-head .menu-depth1 {
    display: none;
  }
  .pc-head .login-area {
    display: none;
  }
  .pc-head .mob-btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .pc-head .mob-btn .hambuger {
    width: 22px;
    height: 16px;
    position: relative;
    cursor: pointer;
  }
  .pc-head .mob-btn .hambuger span {
    width: 100%;
    height: 2px;
    background: #3b3735;
    position: absolute;
    left: 0;
    transition: all 0.4s;
    border-radius: 5px;
  }
  .pc-head .mob-btn .hambuger span:nth-child(1) {
    top: 0;
  }
  .pc-head .mob-btn .hambuger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .pc-head .mob-btn .hambuger span:nth-child(3) {
    bottom: 0;
  }
  .pc-head .mob-btn .hambuger.on span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }
  .pc-head .mob-btn .hambuger.on span:nth-child(2) {
    opacity: 0;
  }
  .pc-head .mob-btn .hambuger.on span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 6px;
  }
  .mob-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    background: #fff;
    transition: right 0.2s ease-in-out;
    display: none;
    box-sizing: border-box;
    padding-top: 60px;
    overflow-y: auto;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .mob-menu .mob-sub {
    display: none;
    padding: 10px 5%;
    background: var(--primary);
  }
  .mob-menu .mob-sub > li > a {
    color: #fff;
    font-size: 14px;
    display: flex;
    padding: 10px 0;
    line-height: 1.4;
  }
  .mob-menu .mob-main > li > a {
    padding: 12px 5%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mob-menu .mob-main > li > a .plus {
    width: 14px;
    height: 14px;
    position: relative;
  }
  .mob-menu .mob-main > li > a .plus::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary);
  }
  .mob-menu .mob-main > li > a .plus::after {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: var(--primary);
    transition: all 0.4s;
  }
  .mob-menu .mob-main > li.on > a .plus::after {
    transform: translateX(-50%) rotate(90deg) !important;
  }
  footer {
    padding: 28px 0 60px;
  }
  footer .footer-menu {
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 40px;
  }
  footer .footer-menu > li {
    gap: 12px;
  }
  footer .footer-menu > li::after {
    height: 8px;
  }
  footer .footer-info {
    flex-direction: column;
  }
  footer .footer-info .logo {
    width: 100px;
  }
  footer .footer-info .info-list {
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }
}
@media screen and (max-width: 600px) {
  .pc-head .logo {
    width: 40px;
  }
}
