/*main-sec1*/
.main-sec1 {
  background: var(--primary);
  padding: 76px 0;
}
.main-sec1 h1 {
  font-size: var(--size28);
  font-weight: 700;
  color: var(--white);
  text-align: center;
  margin-bottom: 42px;
}
.main-sec1 .cata-list {
  display: flex;
  flex-wrap: wrap;
  gap: 38.85px;/*20px*/
}
.main-sec1 .cata-list > li {
  width: calc(10% - 35px);
 /* width: calc(10% - 34.2px);*/
}
.main-sec1 .cata-list .cata-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--white);
  font-size: var(--size32);
  font-weight: 900;
  color: var(--black03);
  letter-spacing: -0.95px;
}
.main-sec1 .cata-list .cata-icon::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.main-sec1 .cata-list .cata-icon img {
  width: 49px;
}
.main-sec1 .cata-list .cata-tit {
  text-align: center;
  color: var(--white);
  margin-top: 12px;
}
/*main-sec2*/
.pro-list .pro-etc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.pro-list .pro-etc .left-area {
  display: flex;
  gap: 14px;
  position: relative;
}
.pro-list .pro-etc .region-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--gray01);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro-list .pro-etc .region-btn svg {
  width: 30px;
}
.pro-list .pro-etc .region-btn.on svg path {
  fill: var(--primary);
}
.pro-list .pro-etc .region-selected {
  padding: 0 14px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--blue01);
  color: var(--primary);
  font-weight: 500;
  border-radius: 5px;
}
.pro-list .pro-etc .region-selected button {
  width: 30px;
}
.pro-list .pro-etc .region-list {
  position: absolute;
  left: 0;
  top: 60px;
  width: 600px;
  box-sizing: border-box;
  border: 1px solid var(--gray01);
  background: var(--white);
  z-index: 10;
  border-radius: 5px;
  padding: 28px 28px 42px 28px;
  display: none;
}
.pro-list .pro-etc .region-list .title {
  position: relative;
  text-align: center;
  font-size: var(--size20);
  font-weight: 600;
  margin-bottom: 42px;
}
.pro-list .pro-etc .region-list .title .close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}
.pro-list .pro-etc .region-list .list-wrap {
  display: flex;
}
.pro-list .pro-etc .region-list .list-wrap .list-box {
  width: 50%;
}
.pro-list .pro-etc .region-list .list-box .title {
  font-size: var(--size18);
  color: var(--gray04);
  font-weight: 500;
  margin-bottom: 14px;
  text-align: left;
  padding-left: 14px;
}
.pro-list .pro-etc .region-list .list-box .list-scroll {
  border: 1px solid var(--gray01);
  height: 170px;
  overflow-y: scroll;
}
.pro-list .pro-etc .region-list .list-box .list-scroll > li {
  cursor: pointer;
  padding: 6px 14px;
  font-size: var(--size18);
  color: var(--black02);
  transition: all 0.4s;
}
.pro-list .pro-etc .region-list .list-box .list-scroll > li:hover {
  background: var(--gray03);
}
.pro-list .pro-etc .region-list .list-box .list-scroll > li.checked {
  color: var(--primary);
  background: var(--gray09);
  font-weight: 500;
}
.pro-list .pro-etc .region-list .list-box .list-scroll > li.checked2 {
  color: var(--primary);
  font-weight: 500;
}
.pro-list .pro-etc .region-list .btn {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size20);
  font-weight: 700;
  margin-top: 42px;
}
.pro-list .pro-etc .right-area {
  display: flex;
  gap: 28px;
}
.pro-list .pro-etc .search-wrap input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--gray01);
  box-sizing: border-box;
  background: url("../img/icon/ic-search.svg") calc(100% - 6px) center no-repeat;
  background-size: 30px;
  padding: 0 40px 0 14px;
}
.pro-list .pro-etc .pro-filter {
  border-radius: 5px;
  border: 1px solid var(--gray01);
  display: flex;
  overflow: hidden;
}
.pro-list .pro-etc .pro-filter button {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background: var(--white);
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro-list .pro-etc .pro-filter button:nth-child(1) {
  border-right: 1px solid var(--gray01);
}
.pro-list .pro-etc .pro-filter button svg {
  width: 30px;
}
.pro-list .pro-etc .pro-filter button.on {
  background: var(--blue01);
}
.pro-list .pro-etc .pro-filter button.on svg rect,
.pro-list .pro-etc .pro-filter button.on svg path {
  stroke: var(--primary);
}
.pro-list .pro-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}
.pro-list .pro-wrap .pro-box {
  width: calc(25% - 31.5px);
}
.pro-list .pro-wrap .pro-box a {
  box-sizing: border-box;
  border: 1px solid var(--gray01);
  border-radius: 5px;
  background: var(--white);
  
}
.pro-list .pro-wrap .pro-box .pro-img {
  padding: 12px 14px;
  border-bottom: 1px solid var(--gray01);
  position: relative;
  padding-bottom: 38.66%;
}
.pro-list .pro-wrap .pro-box .pro-img img {
  position: absolute;
  left: 14px;
  top: 12px;
  width: calc(100% - 28px);
  height: calc(100% - 24px);
  object-fit: contain;
  /*object-fit: cover; 넘침*/
  /*object-fit: contain; 세로에 맞춤*/
  /*object-fit: fill; 가로에 맞춤*/
}
.pro-list .pro-wrap .pro-box .pro-text {
  padding: 12px 14px 24px 14px;
}
.pro-list .pro-wrap .pro-box .pro-tit {
  font-size: 14px;
  font-weight: 600;
}
.pro-list .pro-wrap .pro-box .pro-con {
  font-size: 12px;
  color: var(--gray02);
  line-height: 1.5;
  margin: 6px 0 12px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 36px;
}
.pro-list .pro-wrap .pro-box .pro-cata {
  display: flex;
  align-items: center;
  gap: 6px;
}
.pro-list .pro-wrap .pro-box .pro-cata .add-num {
  font-size: 12px;
  font-weight: 500;
  color: var(--primary);
  width: 16px;
}
.pro-list .pro-wrap .pro-box .pro-cata .cata-list {
  display: flex;
  gap: 6px;
  width: calc(100% - 22px);
}
.pro-list .pro-wrap .pro-box .pro-cata .cata-list > li {
  width: calc(50% - 3px);
  height: 22px;
  border-radius: 1px;
  background: var(--blue01);
  font-size: 12px;
  color: var(--primary);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro-list .pro-wrap .pro-box .pro-region {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
}
.pro-list .pro-wrap .pro-box .pro-region .add-num {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray02);
  width: 16px;
}
.pro-list .pro-wrap .pro-box .pro-region .region-list {
  display: flex;
  gap: 6px;
  width: calc(100% - 22px);
}
.pro-list .pro-wrap .pro-box .pro-region .region-list > li {
  width: calc(25% - 4.5px);
  height: 22px;
  border-radius: 1px;
  background: var(--gray03);
  font-size: 12px;
  color: var(--gray02);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro-list .pro-wrap.on .pro-box {
  width: 100%;
}
.pro-list .pro-wrap.on .pro-box a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.pro-list .pro-wrap.on .pro-box .pro-img {
  padding: 12px;
  border: 1px solid var(--gray01);
  width: 131px;
  height: 131px;
  box-sizing: border-box;
  border-radius: 5px;
}
.pro-list .pro-wrap.on .pro-box .pro-img img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.pro-list .pro-wrap.on .pro-box .pro-text {
  padding: 0;
  width: calc(100% - 151px);
}
.pro-list .pro-wrap.on .pro-box .pro-cata {
  max-width: 240px;
}
.pro-list .pro-wrap.on .pro-box .pro-region {
  max-width: 240px;
}
.pagenation {
  display: flex;
  justify-content: center;
}
.pagenation .pagenation-list {
  display: flex;
  align-items: center;
  gap: 6px;
}
.pagenation .pagenation-list .next-btn a {
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: 12px;
  color: var(--gray04);
  padding: 0 8px;
}
.pagenation .pagenation-list .next-btn a img {
  width: 20px;
}
.pagenation .pagenation-list .num a {
  width: 30px;
  height: 30px;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--gray04);
  transition: all 0.4s;
}
.pagenation .pagenation-list .num.on a {
  background: var(--primary);
  color: var(--white);
}
.main-sec2 {
  padding: 56px 0 110px;
}
.main-sec2 .pagenation {
  margin-top: 100px;
}
@media screen and (max-width: 1024px) {
  .main-sec1 {
    padding: 40px 0;
  }
  .main-sec1 h1 {
    display: none;
  }
  .main-sec1 .cata-list {
    gap: 21.2px;
    /*gap: 20px;*/
  }
  .main-sec1 .cata-list > li {
    width: calc(10% - 18px);
  }
  .main-sec1 .cata-list .cata-icon {
    font-size: 16px;
  }
  .main-sec1 .cata-list .cata-icon img {
    width: 26px;
  }
  .main-sec1 .cata-list .cata-tit {
    font-size: 10px;
  }
  .pro-list .pro-etc .right-area {
    display: none;
  }
  .pro-list .pro-wrap {
    gap: 20px;
  }
  .pro-list .pro-wrap .pro-box {
    width: calc(50% - 10px);
  }
  .pro-list .pro-etc {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 600px) {
  .main-sec1 .inner {
    overflow-x: auto;
    -ms-overflow-style: none;
  }
  .main-sec1 .inner::-webkit-scrollbar {
    display: none;
  }
  /*슬라이드 해제
  .main-sec1 .cata-list {
    width: 600px;
  }*/
  .main-sec1 .cata-list > li {
    width: 42px;
  }
  .main-sec2 {
    padding: 20px 0 140px;
  }
  .pro-list .pro-etc {
    border-bottom: 1px solid var(--gray06);
    padding-bottom: 14px;
    margin-bottom: 20px;
  }
  .pro-list .pro-etc .left-area {
    gap: 8px;
  }
  .pro-list .pro-etc .region-btn {
    width: 30px;
    height: 30px;
  }
  .pro-list .pro-etc .region-btn svg {
    width: 22px;
  }
  .pro-list .pro-etc .region-selected {
    height: 30px;
    font-size: 12px;
  }
  .pro-list .pro-etc .region-selected button {
    width: 20px;
  }
  .pro-list .pro-wrap .pro-box {
    width: 100%;
  }
  .main-sec2 .pagenation {
    margin-top: 28px;
  }
  .pro-list .pro-etc .region-list {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 16px;
    border-radius: 0;
  }
  .pro-list .pro-etc .region-list .title {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .pro-list .pro-etc .region-list .list-box .list-scroll {
    height: 260px;
  }
  .pro-list .pro-etc .region-list .btn {
    margin-top: 20px;
  }
  .pro-list .pro-etc .region-list .list-box .list-scroll > li:hover {
    background: transparent;
  }
}
