.partner-wrap .partner-info {
  background: var(--blue01);
  padding: 52px 0;
}
.partner-wrap .partner-info .inner {
  display: flex;
  align-items: center;
  gap: 40px;
}
.partner-wrap .partner-info .img-box {
  width: 148px;
  height: 148px;
  border: 1px solid var(--gray01);
  background: var(--white);
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 7px;
}
.partner-wrap .partner-info .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--gray06);
  box-sizing: border-box;
}
.partner-wrap .partner-info .info-box {
  width: calc(100% - 188px);
}
.partner-wrap .partner-info .partner-name {
  font-size: var(--size24);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 14px;
}
.partner-wrap .partner-info .partner-con {
  line-height: 1.5;
  color: var(--black04);
}
.partner-wrap .partner-info2 {
  padding: 56px 0 70px;
}
.partner-wrap .partner-info2 .inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: calc(90% - 48px);
  max-width: 1152px;
}
.partner-wrap .partner-info2 .inner > div {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.partner-wrap .partner-info2 .left-area {
  max-width: 588px;
}
.partner-wrap .partner-info2 .right-area {
  max-width: 384px;
}
.partner-wrap .partner-info2 .info-tit {
  font-size: var(--size20);
  font-weight: 500;
  margin-bottom: 14px;
}
.partner-wrap .partner-info2 .info-list {
  border: 1px solid var(--gray01);
  border-radius: 5px;
  padding: 12px 24px;
}
.partner-wrap .partner-info2 .info-list dl {
  display: flex;
  gap: 80px;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px 0;
  border-bottom: 1px solid var(--gray06);
}
.partner-wrap .partner-info2 .info-list dl:last-child {
  border-bottom: 0;
}
.partner-wrap .partner-info2 .info-list dl dt {
  width: 60px;
}
.partner-wrap .partner-info2 .info-list dl dd {
  width: calc(100% - 140px);
  color: var(--black04);
  text-align: end;
  word-break: keep-all;
}
.partner-wrap .partner-info2 .info-list dl dd span {
  color: var(--primary);
  font-weight: 500;
}
.partner-wrap .partner-info2 .region-list {
  border: 1px solid var(--gray01);
  border-radius: 5px;
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.partner-wrap .partner-info2 .region-list dl dt {
  color: var(--primary);
  font-weight: 500;
  margin-bottom: 6px;
}
.partner-wrap .partner-info2 .region-list dl dd {
  color: var(--black02);
  word-break: keep-all;
}
.partner-wrap .partner-info2 .site-list {
  display: flex;
  gap: 20px;
  border: 1px solid var(--gray01);
  border-radius: 5px;
  padding: 10px 14px;
  box-sizing: border-box;
}
.partner-wrap .partner-info2 .site-list > li {
  width: 40px;
}
.partner-wrap .partner-info2 .site-list > li img:nth-child(2) {
  display: none;
}
.partner-wrap .partner-info2 .site-list > li.on img:nth-child(1) {
  display: none;
}
.partner-wrap .partner-info2 .site-list > li.on img:nth-child(2) {
  display: block;
}
.partner-wrap .partner-info2 .down-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--gray01);
  font-size: var(--size20);
  font-weight: 700;
  color: var(--gray05);
  padding: 15px 0;
  border-radius: 5px;
}
.partner-wrap .partner-info2 .down-box a svg {
  width: 30px;
}
.partner-wrap .partner-info2 .down-box a.on {
  border: 1px solid var(--primary);
  color: var(--primary);
}
.partner-wrap .partner-info2 .down-box a.on svg path {
  fill: var(--primary);
}
.partner-wrap .partner-swiper {
  position: relative;
  margin-bottom: 50px;
}
.partner-wrap .partner-swiper .swiper-control {
  width: 95%;
  max-width: 1296px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partner-wrap .partner-swiper .swiper-control .swiper-button-next,
.partner-wrap .partner-swiper .swiper-control .swiper-button-prev {
  width: 48px;
}
.partner-wrap .partner-swiper .inner {
  width: calc(90% - 48px);
  max-width: 1152px;
}
.partner-wrap .partner-swiper .swiper-slide a {
  position: relative;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--gray01);
  overflow: hidden;
  box-sizing: border-box;
}
.partner-wrap .partner-swiper .swiper-slide a::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.partner-wrap .partner-swiper .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.partner-popup .popup-con {
  width: 90%;
  max-width: 792px;
  background: var(--white);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  box-sizing: border-box;
}
.partner-popup .popup-con .close {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  padding: 34px;
}
.partner-popup .popup-con .close img {
  width: 48px;
  cursor: pointer;
}
.partner-popup .popup-con .img-box {
  position: relative;
  width: 100%;
  height: 649px;
}
.partner-popup .popup-con .img-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  border-radius: 5px;
}
.partner-popup .swiper-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: calc(100% - 60px);
}
.partner-popup .swiper-button-next,
.partner-popup .swiper-button-prev {
  width: 48px;
}
.partner-popup .swiper-pag {
  position: absolute;
  left: 50%;
  bottom: 34px;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}
.partner-popup .swiper-pag .swiper-pagination-fraction {
  background: #fff;
  display: inline-flex;
  width: auto;
  position: relative;
  bottom: auto;
  top: auto;
  left: auto;
  padding: 6px 20px;
  border-radius: 100px;
  border: 1px solid #e1e1e1;
  color: #aaa;
  font-weight: 700;
}
.partner-popup .swiper-pag .swiper-pagination-current {
  color: var(--primary);
}
.partner-wrap .partner-tab .tab-nav {
  display: flex;
}
.partner-wrap .partner-tab .tab-nav > li {
  width: 33.333%;
  box-sizing: border-box;
  background: var(--gray07);
  border: 1px solid var(--gray05);
  border-left: 0;
  padding: 18px 0;
  text-align: center;
  color: var(--black04);
  font-size: var(--size22);
  font-weight: 500;
  cursor: pointer;
}
.partner-wrap .partner-tab .tab-nav > li:nth-child(1) {
  border-left: 1px solid var(--gray05);
}
.partner-wrap .partner-tab .tab-nav > li.on {
  color: var(--primary);
  background: var(--white);
  border-bottom: 0;
}
.partner-wrap .partner-tab .tab-con > div {
  display: none;
  padding: 70px 0 180px;
}
.partner-wrap .partner-tab .tab-con > div.on {
  display: block;
}
.partner-wrap .partner-tab .tab-con .tab-null {
  padding-bottom: 10vh;
  display: none;
}
.partner-wrap .partner-tab .tab-con .tab-null p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: var(--size20);
  font-weight: 500;
  color: var(--black04);
}
.partner-wrap .partner-tab .tab-con .tab-null p img {
  width: 24px;
}
.partner-wrap .partner-tab .story-board .board-list {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}
.partner-wrap .partner-tab .story-board .board-list .list-box {
  width: calc(25% - 31.5px);
}
.partner-wrap .partner-tab .story-board .list-box a {
  border-radius: 5px;
  overflow: hidden;
}
.partner-wrap .partner-tab .story-board .list-box .img-box {
  position: relative;
  padding-bottom: 82.47%;
}
.partner-wrap .partner-tab .story-board .list-box .img-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.partner-wrap .partner-tab .story-board .list-box .txt-box {
  background: var(--gray07);
  padding: 14px;
}
.partner-wrap .partner-tab .story-board .list-box .txt-box .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 14px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.partner-wrap .partner-tab .story-board .list-box .txt-box .date {
  font-size: 14px;
  color: var(--gray04);
}
.partner-wrap .partner-tab .story-board .pagenation {
  margin-top: 100px;
}
.partner-wrap .partner-tab .tab-inquiry .inquiry-tit {
  font-size: var(--size24);
  font-weight: 700;
  margin-bottom: 28px;
}
.partner-wrap .partner-tab .inquiry-form {
  margin-bottom: 56px;
}
.partner-wrap .partner-tab .inquiry-form .inquiry-info {
  background: var(--gray06);
  border-radius: 5px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.partner-wrap .partner-tab .inquiry-form .inquiry-info > li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black04);
  font-weight: 500;
}
.partner-wrap .partner-tab .inquiry-form .inquiry-info > li img {
  width: 24px;
}
.partner-wrap .partner-tab .inquiry-form textarea {
  border: 1px solid var(--gray08);
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  margin: 28px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.partner-wrap .partner-tab .inquiry-form textarea::placeholder {
  color: var(--gray04);
}
.partner-wrap .partner-tab .inquiry-form .btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.partner-wrap .partner-tab .inquiry-form .btn-wrap button {
  width: 384px;
  height: 60px;
  border-radius: 5px;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: var(--size20);
  font-weight: 700;
}
.partner-wrap .partner-tab .inquiry-form .login-before {
  text-align: center;
  display: none;
}
.partner-wrap .partner-tab .inquiry-form .login-before p {
  padding: 0 0 70px;
  font-size: var(--size18);
  color: var(--black04);
  font-weight: 700;
}
.partner-wrap .partner-tab .inquiry-form .login-before button {
  display: inline-flex;
  width: 384px;
  height: 60px;
  border-radius: 5px;
  background: var(--primary);
  color: var(--white);
  font-size: var(--size20);
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.partner-wrap .partner-tab .inquiry-list .list-wrap {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.partner-wrap .partner-tab .inquiry-list .list-box {
  border-radius: 5px;
  border: 1px solid var(--gray01);
  padding: 20px;
}
.partner-wrap .partner-tab .inquiry-list .list-box .list-info {
  display: flex;
  justify-content: space-between;
  color: var(--gray04);
  font-size: 14px;
  margin-bottom: 14px;
}
.partner-wrap .partner-tab .inquiry-list .list-box .inquiry-con {
  color: var(--black04);
  font-weight: 500;
  line-height: 1.5;
}
.partner-wrap .partner-tab .inquiry-list .list-box .secret {
  display: flex;
  align-items: center;
  gap: 8px;
}
.partner-wrap .partner-tab .inquiry-list .list-box .secret img {
  width: 24px;
}
.partner-wrap .partner-tab .inquiry-list .coment-box {
  background: var(--gray07);
  border: 1px solid var(--gray07);
  margin-top: 28px;
}
.partner-wrap .partner-tab .inquiry-list .coment-box .name {
  color: var(--primary);
}
.partner-wrap .partner-tab .inquiry-list .pagenation {
  margin-top: 100px;
}
@media screen and (max-width: 1024px) {
  .partner-wrap .partner-info2 .inner {
    width: calc(100% - 32px);
    flex-direction: column;
    gap: 28px;
  }
  .partner-wrap .partner-info2 .inner > div {
    width: 100%;
    max-width: none;
  }
  .partner-wrap .partner-swiper .swiper-control {
    display: none;
  }
  .partner-wrap .partner-swiper .inner {
    width: calc(100% - 32px);
  }
  .partner-wrap .partner-tab .story-board .board-list .list-box {
    width: calc(50% - 21px);
  }
}
@media screen and (max-width: 600px) {
  .partner-wrap .partner-info {
    padding: 20px 0;
  }
  .partner-wrap .partner-info .inner {
    flex-direction: column;
    gap: 14px;
  }
  .partner-wrap .partner-info .img-box {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    padding-bottom: 42.57%;
  }
  .partner-wrap .partner-info .img-box img {
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  .partner-wrap .partner-info .info-box {
    width: 100%;
  }
  .partner-wrap .partner-info .partner-name {
    margin-bottom: 8px;
  }
  .partner-wrap .partner-info2 {
    padding: 28px 0;
    /*padding: 28px 0 56px;*/
  }
  .partner-wrap .partner-info2 .info-list dl {
    gap: 40px;
  }
  .partner-wrap .partner-info2 .info-list dl dd {
    width: calc(100% - 100px);
  }
  .partner-wrap .partner-info2 .info-list {
    padding: 12px 20px;
  }
  .partner-wrap .partner-info2 .region-list {
    padding: 24px 20px;
  }
  .partner-wrap .partner-tab .tab-con > div {
    padding: 20px 0 140px;
  }
  .partner-popup .popup-con {
    width: calc(100% - 32px);
    padding: 18px 20px;
  }
  .partner-popup .popup-con .img-box {
    height: 240px;
  }
  .partner-popup .swiper-button-next,
  .partner-popup .swiper-button-prev {
    width: 20px;
  }
  .partner-popup .popup-con .close img {
    width: 20px;
  }
  .partner-wrap .partner-tab .story-board .board-list {
    gap: 20px;
  }
  .partner-wrap .partner-tab .story-board .board-list .list-box {
    width: 100%;
  }
  .partner-wrap .partner-tab .story-board .pagenation {
    margin-top: 28px;
  }
  .partner-wrap .partner-tab .inner {
    width: 100%;
  }
  .partner-wrap .partner-tab .tab-con {
    width: calc(100% - 32px);
    margin: auto;
  }
  .partner-wrap .partner-tab .tab-nav {
    border-bottom: 1px solid var(--gray01);
  }
  .partner-wrap .partner-tab .tab-nav > li {
    background: #fff;
    border: 0;
    font-size: 16px;
    padding: 12px 0;
    position: relative;
  }
  .partner-wrap .partner-tab .tab-nav > li.on::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .partner-wrap .partner-tab .tab-inquiry .inquiry-tit {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
  }
  .partner-wrap .partner-tab .inquiry-form .inquiry-info > li {
    align-items: flex-start;
  }
  .partner-wrap .partner-tab .inquiry-form .inquiry-info > li img {
    width: 15px;
    margin-top: 2px;
  }
  .partner-wrap .partner-tab .inquiry-form textarea {
    margin: 14px 0;
  }
  .partner-wrap .partner-tab .inquiry-form .btn-wrap {
    flex-direction: column;
    gap: 14px;
  }
  .partner-wrap .partner-tab .inquiry-list .pagenation {
    margin-top: 28px;
  }
  .partner-wrap .partner-tab .inquiry-form .btn-wrap button {
    width: 100%;
  }
}
